.footer__logo {
  margin: 60px 0 20px;
}

.logo {
  display: block;
  margin: auto;
}

.footer {
  display: flex;
  align-items: center;
  &__copy {
    color: #81858c;
    font-size: rem(13px);
    font-weight: 300;
    text-align: center;
    margin-bottom: rem(40px);
  }
  &__social {
    list-style-type: none;
    margin: 0 0 40px;
    padding: 0;
  }
}

.social__item {
  display: inline-block;
  margin-right: rem(10px);
  transition: transform 0.25s ease-out;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    transform: scale(1.1);
  }
}