.portfolio {
  background-color: #f3f3f3;
  &__content {
    max-width: rem(400px);
    margin: auto;
  }
  &__title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: rem(36px);
    color: $black;
  }
  &__text {
    text-align: center;
    color: #81858c;
    line-height: rem(26px);
    font-weight: 300;
  }
  &__filter {
    list-style-type: none;
    text-align: center;
    padding: 0;
  }
  &__gallery {
    transition: all .2s;
    margin: 60px auto 90px;
  }
}

.filter__item {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  &:hover:after {
    content: '';
    position: absolute;
    display: block;
    width: rem(38px);
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    border-bottom: 2px solid #6cbc9a;
    border-radius: 2px;
  }
}

.photo	{
  width: 100%;
  max-width: 100%;
}

.gallery__item {
  padding: 5px;
}




